.cat-fetcher {
  display: grid;
  grid-template-columns: 1fr 3fr; /* Adjusts to your layout, where the ban list takes 1 fraction of the space and content takes 3 */
 
  min-height: 100vh;
  align-items: start; /* Aligns items to the start of the container */
  padding: 20px; 
  
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content vertically in the column */
}
.left-panel, .ban-list {
  flex: 1;
  border: 2px solid #ede8e8; /* Add this line */
  border-radius: 10px; /* Add this line */
}
.cat-fetcher button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cat-fetcher button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.cat-fetcher img {
  margin-top: 20px;
  /* Set your desired height */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  /* Ensures the aspect ratio is maintained */
}


.cat-fetcher p {
  color: #fdfafa;
}
